.withdrawMoney {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label {
  font-size: 16px;
  color: var(--textColor);
}
textarea,
.form input {
  width: 100%;
  background: var(--inputBg);
  padding: 14px 22px;
  margin: 8px 0;
  border-radius: 2px;
  font-size: 14px;
  color: var(--textColor);
}
textarea:focus,
input:focus:not(.checkbox, input[type="file"], .login_input input) {
  outline: 1px solid rgb(107, 177, 238);
}
